body {
    background-color: lightgray;
   }
   h1{
            text-align: center;
            color:rgb(18, 17, 105);
            font-size: 50px;
        }
        .equal{
            width: 250px;
        }
        .class1{
            background-color: lightblue;
            width: 520px;
            height: 600px; 
            margin: auto;
            border: 3px solid black;
            border-radius: 8px;
            padding: 20px;     
        }
        input {
            width: 115px;
            background-color: yellow;
            color:blue;
            border: 3px solid black;
            
            border-radius: 8px;
            padding: 25px; 
            margin: 5px;
            font-size: 18px;
        }
        #calc {
            width: 500px;
            color: blue;
            border:3px solid black;
            border-radius: 3px;
            padding: 20px;
            background-color: rgb(205, 202, 50);
        }
       
